@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container ">
        <h1 class="display-4">SISTEMA DE GESTÃO - Em construção.</h1>

        <img src="img\construcao_mv2.gif" alt="Em construção" />
    </div>


</div>
